DSLA_INFURA_PROJECT_ID=
TEST_MNEMONIC=
MAINNET_MNEMONIC=
KOVAN_MNEMONIC=
KOVAN_PROJECT_ID=
HARMONY_TESTNET_MNEMONIC=
HARMONY_TESTNET_PRIVATE_KEY=
ETHERSCAN_API_KEY=
MUMBAI_URI=
MUMBAI_WS_URI=
POLYGON_URI=
POLYGON_WS_URI=
