NODE_ENV=develop
DSLA_INFURA_PROJECT_ID=ba374d41ee3f4c65ab05c31c4dd452f6
TEST_MNEMONIC=myth like bonus scare over problem client lizard pioneer submit female collect
DSLA_MNEMONIC=rich trumpet output release matter miss total order focus mimic section weapon
STAGING_IP=
USE_LOCAL_INDEXER=false
