NODE_ENV=develop
DSLA_INFURA_PROJECT_ID=e8dc03e5684a4dd5872f4e0da2187dca
TEST_MNEMONIC=myth like bonus scare over problem client lizard pioneer submit female collect
DSLA_MNEMONIC=rich trumpet output release matter miss total order focus mimic section weapon
STAGING_IP=
